.button{
    -fx-background-color: #FFFF;
    -fx-text-fill: #0d0303;
    -fx-border-color: #29296b;

    -fx-border-width: 2;
}

.button:hover{
    -fx-background-color: #29296b;
    -fx-text-fill: #FFFF;

    -fx-border-style: solid;

}