.button{
    -fx-background-color: #FFFF;
    -fx-text-fill: #0d0303;
    -fx-border-color: #0d0303;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.button:hover{
    -fx-background-color: #0d0303;
    -fx-text-fill: #FFFF;
    -fx-border-color: #FFFF;
    -fx-border-radius: 10;
    -fx-border-style: solid;
    -fx-background-radius: 10;
    -fx-border-width: 2;
}